* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #d9d4cf;
  --primary-deep: #7c7877;
  --primary-light: #f0e5de;
  --secondary: #abd0ce;
  --secondary-deep: #85a1a0;
  --secondary-light: #d2ebe9;
  --gray: #969696;
  --gray-deep: #5c5c5c;
  --gray-light: #dcdcdc;
  --black: #000;
  --white: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  padding: 1rem 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

header .container {
  font-size: 1.25rem;
  color: var(--primary-deep);
}

header img {
  display: flex;
  width: 150px;
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 250px;
}

.search input {
  border: none;
}

.menu {
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
}

.menu a {
  color: var(--primary-deep);
  text-decoration: none;
}

.menu a:hover {
  color: var(--primary);
}

.account {
  width: 250px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.4rem;
}

aside {
  width: 20%;
}

aside a {
  text-decoration: none;
  color: var(--primary-deep);
}

aside a:hover {
  color: var(--primary);
}

.aside li {
  margin-bottom: 10px;
}

section {
  width: 80%;
  padding-left: 20px;
}

#Product {
  display: flex;
  gap: 2rem;
}

.item {
  width: 50%;
  margin-bottom: 30px;
  display: flex;
  text-decoration: none;
  color: var(--primary-deep);
}

.item img {
  width: 100%;
  object-fit: cover;
}

.color-list {
  display: flex;
  gap: 10px;
}

.color {
  width: 30px;
  height: 30px;
  border: 1px solid var(--gray-deep);
  padding: 5px;
  border-radius: 3px;
}

.blue {
  background-color: lightblue;
}

.product-name {
  font-size: 1.5rem;
}

.size-qty {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.size select {
  width: 120px;
  text-align: center;
  padding: 5px 0;
}

.input-group {
  width: 50%;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.input-group button {
  width: 30px;
  appearance: none;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}

.input-group input {
  width: 100px;
  text-align: center;
  border: none;
}

.buy-to-cart button{
  margin-top: 10px;
  width: 100%;
  appearance: none;
  border: 1px solid #5c5c5c;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 0;
}

footer {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 0;
  padding: 0;
}